$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #243D97,
        secondary:#0C1733,
        b-light:#050D36,
    ),
    grey: (
        1:#F8FAFA,
        2:#F5F6F8,

    ),
    text: (
        body:#000,
        1:#000,
        2:#777C90,
    ),
    theme: (
        1: #f9f9f9,
        2: #243D97,

    ),
    border: (
        1: #f9f9f9,
        2: #243D97,
    )
);
